.content {
    // --ion-background-color: #f7f4f8;
}

.content h1 {
    font-size: 31px;
    padding-left: 8%;
}

.cards {
    padding: 1% 3%;
}

ion-card-title {
    font-size: 1.3em;
}

ion-img.logo {
    width: 20%;
    display: inline-block;
}

ion-card-subtitle {
    display: flex;
    align-items: center;
}

span.title-wrap {
    display: inline-block;
    margin-left: 10%;
    font-size: 1.2em;
    width: 70%;
    color: var(--ion-color-tertiary);

}

span.title {
    display: inline-block;
    width: 100%;
}

span.status {
    display: inline-block;
    font-size: 0.8em;
    position: relative;
    color: red;
}

span.status:after {
    content: '';
    position: absolute;
    background-color: #000;
    width: 7px;
    height: 7px;
    right: -10px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.entrepreneur {
    border-radius: 50%;
    overflow: hidden;
    margin: 1em 0 0;
}

h4.content-heading {
    color: var(--ion-color-primary);
    font-size: 21px;
    font-weight: 700;
    position: relative;
}

h4.content-heading:after {
    position: absolute;
    content: '';
    right: 0;
    top: 56%;
    height: 1px;
    background-color: #000;
    left: 50%;
}

h6.company-title {
    color: var(--ion-color-tertiary);
    font-size: 18px;
    font-weight: 700;
    margin: 0.7em 0 0.2em;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: var(--ion-color-primary);
    font-weight: 700;
    margin: 0.3em 0;
}

.text-center {
    text-align: center;
}

.resume {
    margin: 0.5em 0;
}

.resume a {
    color: var(--ion-color-secondary);
    text-decoration: none;
    font-weight: 700;
}

.company-image {
    margin: 1em 0;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.entrepreneur-wrap {
    flex-wrap: wrap;
}

.profile {
    margin-top: 0;
    text-transform: capitalize;
    width: 100%;
}