<app-header showButton='back' [routeInfo]='routeInfo'></app-header>

<ion-content class="content">

  <ion-text color="primary">
    <h1>{{listDetailLogosService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_title'}}
    </h1>
  </ion-text>

  <div class="cards">
    <ion-card>

      <ion-card-header>
        <ion-card-subtitle>
          <ion-img class="logo" *ngIf="contentObject?.logo?.data?.full_url" [src]="contentObject?.logo?.data?.full_url">
          </ion-img>
          <span class="title-wrap">
            <span class="title">
              {{ contentObject?.title }}
            </span>
            <span *ngIf="contentObject?.status" class="status">{{ contentObject?.status }}</span>
          </span>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <h4 *ngIf="isEntrepreneurAvailable(contentObject)" class="content-heading">
          {{listDetailLogosService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_subtitle'}}
        </h4>
        <ion-card-subtitle class="entrepreneur-wrap">
          <ion-img *ngIf="(contentObject?.person_image?.data?.thumbnails)[2]?.url" class="logo entrepreneur"
            [src]="(contentObject?.person_image?.data?.thumbnails)[2]?.url"></ion-img>
          <span class="title-wrap">
            {{ contentObject?.person_name }}
          </span>
          <div class="break"></div>
          <p class="text-center resume profile">
            <a *ngIf="contentObject?.person_url"
              [href]="contentObject?.person_url">{{listDetailLogosService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_url'}}</a>
          </p>
        </ion-card-subtitle>
        <h4 *ngIf="isFirstCompanyAvailable(contentObject)" class="content-heading">
          {{listDetailLogosService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_company'}}
        </h4>
        <div class="company-details">
          <h6 *ngIf="contentObject?.expertise" class="company-title">
            {{listDetailLogosService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_expertise'}}
          </h6>
          <p>{{ contentObject?.expertise }}</p>
          <a *ngIf="contentObject?.read_more_link" [href]="contentObject?.read_more_link"
            class="link">{{listDetailLogosService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_read_more'}}</a>
          <p class="text-center resume">
            <a *ngIf="contentObject?.person_cv?.data?.full_url"
              [href]="contentObject?.person_cv?.data?.full_url">{{listDetailLogosService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_view'}}</a>
          </p>
        </div>

        <h4 *ngIf="isSecondCompanyAvailable(contentObject)" class="content-heading">
          {{listDetailLogosService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_company'}}
        </h4>
        <div class="company-details">
          <h6 *ngIf="contentObject?.revenue" class="company-title">
            {{listDetailLogosService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_revenue'}}
          </h6>
          <p>{{ contentObject?.revenue }}</p>
          <h6 *ngIf="contentObject?.servicing_plan" class="company-title">
            {{listDetailLogosService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_servicing_plan'}}
          </h6>
          <p [innterHTML]="contentObject?.servicing_plan"></p>
          <h6 *ngIf="contentObject?.comments" class="company-title">
            {{listDetailLogosService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_comments'}}
          </h6>
          <p>{{ contentObject?.comments }}</p>
          <ion-img *ngIf="contentObject?.image?.data?.full_url" class="company-image"
            [src]="contentObject?.image?.data?.full_url">
          </ion-img>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>