<app-header showButton='back' [routeInfo]='routeInfo'></app-header>

<ion-content>
  <ion-img *ngIf="contentList?.image?.data?.full_url" [src]="contentList?.image?.data?.full_url"></ion-img>
  <div class="content-wrap">

    <div class="icon-date">
      <ion-icon *ngIf="contentList?.image?.data?.full_url && contentList?.icon" class="content-icon" slot="start"
        [name]="contentList?.icon"></ion-icon>
      <span>{{contentList?.created_on | date:mediumDate}}</span>
    </div>

    <h3>{{contentList?.title}}</h3>
    <div class="sm-padding">
      <span class="font-weight-bold h4">{{contentList?.currency}} {{contentList?.price}}</span>
      <span class="align-right h4">{{contentList?.size}} {{contentList?.size_unit}}</span>
      <p [innerHTML]="contentList?.description"></p>
    </div>

    <div *ngIf='contentList?.facebook_link' class="facebook-btn">
      <a [href]="contentList?.facebook_link"><img src="../../../../assets/facebook-btn.png" alt=""></a>
    </div>

    <ion-button *ngIf="contentList?.action_button_status" (click)='goToURL(contentList)' expand="block">
      {{contentList?.action_button_text}}
    </ion-button>

  </div>
</ion-content>