.content-wrap {
    padding: 0 8%;

    .icon-date {
        position: relative;
        height: 1px;
        padding-top: 10px;

        .content-icon {
            position: absolute;
            background: var(--ion-color-danger);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            padding: 1em;
            left: 36%;
            top: -35px;
        }

        span {
            position: absolute;
            right: 8%;
        }

    }
}

.facebook-btn {
    text-align: center;
    padding-top: 3em;

    img {
        max-width: 62% !important;
        border-radius: 6px;
    }
}

.font-weight-bold {
    font-weight: 700;
}

.align-right {
    float: right;
}

h3 {
    margin-top: 55px;
}

// ion-img {
//     margin: 1.3em 0;
// }

.sm-padding {
    padding: 0 4%;
}

ion-button {
    padding: 0 3em;
    color: #fff;
    font-size: 1.2em;
    margin-top: 1em;
}