<app-header showButton='menu'></app-header>

<ion-content class="content">
  <ion-text color="primary">
    <h1>Notifications</h1>
  </ion-text>

  <ion-list class="content-list" lines='none' *ngFor="let content of (contentList | async)">
    <ion-item (click)="openNotificationDetail(content)">
      <ion-icon slot="start" [name]="content?.icon"></ion-icon>
      <ion-label class="list-label">{{content?.title}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>