.content {
    // --ion-background-color: #f7f4f8;

    h1 {
        font-size: 31px;
        padding-left: 8%;
        text-align: center;
        margin-bottom: 1em;
    }


    .list-label {
        white-space: pre-wrap;
    }

}