ion-header {
    --ion-background-color: #fff;
}

ion-buttons {
    position: absolute;

    ion-menu-button {
        position: absolute;
    }
}

.title-image {
    width: 50%;
    margin: auto;
}

ion-button {
    position: relative;

    span {
        position: absolute;
        width: 15px;
        height: 15px;
        // background: red;
        z-index: -2;
        top: 0.5em;
        right: 0;
        border-radius: 50%;

        &:active {
            z-index: 3;
            background: red;
        }
    }

}