<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-menu-button *ngIf="showButton === 'menu'"></ion-menu-button>
      <ion-button *ngIf="showButton === 'back'" color="primary" [routerLink]="routeInfo?.url"
        [routerDirection]="routeInfo?.direction">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-img class="title-image" src="../../../assets/title_image.png"></ion-img>
    </ion-title>

    <ion-button *ngIf="isLoginPage ? false : true" (click)="openNotificationPage()" color="dark" slot="end"
      fill="clear">
      <span></span>
      <ion-icon name="notifications-outline">
      </ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>