<app-header showButton='back' [routeInfo]='routeInfo'></app-header>

<ion-content>
  <div class="content-wrap">
    <h1>{{contentList?.title}}</h1>
    <ion-img *ngIf="contentList?.image?.data?.full_url" [src]="contentList?.image?.data?.full_url"></ion-img>
    <div class="sm-padding">
      <span class="font-weight-bold h4">{{contentList?.currency}} {{contentList?.price}}</span>
      <span class="align-right h4">{{contentList?.size}} {{contentList?.size_unit}}</span>
      <p [innerHTML]="contentList?.description"></p>
    </div>
  </div>
</ion-content>