.content-wrap {
    padding: 0 8%;
}

.font-weight-bold {
    font-weight: 700;
}

.align-right {
    float: right;
}

.h4 {
    font-size: 22px;
}

ion-img {
    margin: 1.3em 0;
}

.sm-padding {
    padding: 0 4%;
}