<app-header showButton='menu'></app-header>

<ion-content class="content">
  <ion-text color="primary">
    <h1>{{inboxService.systemLanguage | async | systemLanguages:routeId:'module_title'}}</h1>
  </ion-text>

  <div class="cards">
    <ion-card *ngFor="let content of (contentList | async)">
      <ion-img *ngIf="content?.image?.data?.full_url" [src]="content?.image?.data?.full_url"></ion-img>

      <ion-card-header>
        <ion-card-title color="primary">{{content?.title}}</ion-card-title>
        <ion-card-subtitle>{{content?.date | date:mediumDate}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="card-description" [innerHTML]="content?.description"></ion-card-content>

      <ion-button (click)="toggleReadMore($event)" fill="clear" class="read-more-btn" shape="round">
        <span class="small-text">
          {{inboxService.systemLanguage | async | systemLanguages:routeId:'read_more' }}
        </span>
        <span class="full-text">
          {{inboxService.systemLanguage | async | systemLanguages:routeId:'read_less' }}
        </span>
      </ion-button>

      <ion-button color="secondary" *ngIf="content?.link" [href]="content?.link" fill="clear" class="newsletter-link"
        shape="round">
        {{inboxService.systemLanguage | async | systemLanguages:routeId:'link' }}
      </ion-button>

    </ion-card>
  </div>

</ion-content>