.content {
    // --ion-background-color: #f7f4f8;
}



ion-card {
    margin-left: 0;
    margin-right: 0;
}

.content h1 {
    font-size: 31px;
    padding-left: 8%;
}

.cards {
    padding: 1% 8%;
}

ion-card-title {
    font-size: 1.3em;
}

.card-description {
    max-height: 80px;
    margin-bottom: -20px;
    overflow: hidden;
    position: relative;
    // transition: max-height 1s;
}

.card-description:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(rgba(255, 255, 255, 0), #f7f4f8);
}

.card-description.open {
    max-height: 1500px;
    margin-bottom: 0px;
}

.card-description.open:after {
    display: none;
}

.small-text {
    display: inline-block;
}

.full-text {
    display: none;
}

.openText .small-text {
    display: none;
}

.openText .full-text {
    display: inline-block;
}

.newsletter-link {
    font-weight: 700;
}