.cards {
    padding: 1% 0;
}

.cards-default-layout {
    padding: 1% 8%;
}

ion-card {
    margin-left: 0;
    margin-right: 0;

    ion-label {
        padding: 6px 0;
        font-weight: 500;
    }
}


.content {
    // --ion-background-color: #f7f4f8;

    ion-label {
        white-space: normal;
    }

}

.content h1 {
    font-size: 31px;
    padding-left: 8%;
}



span.title-icon {
    color: var(--ion-color-danger);
    // color: #ff0000;
    font-size: 1.5em;
}