<app-header showButton='menu'></app-header>

<ng-container *ngIf="layout === 'without-card-list'; else default">
  <ion-content class="content">
    <ion-text color="primary">
      <h1>{{listDetailsService.systemLanguage | async | systemLanguages:routeId:'module_title'}}</h1>
    </ion-text>

    <div class="cards">

      <ion-list *ngFor="let content of (contentList | async)">
        <ion-item lines="none" *ngIf="content?.title" routerDirection='forward' (click)="openDetail(content)">
          <ion-label color="primary">{{content?.title}}</ion-label>
          <span class="title-icon">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </span>
        </ion-item>
      </ion-list>

    </div>

  </ion-content>

</ng-container>

<ng-template #default>
  <ion-content class="content">
    <ion-text color="primary">
      <h1>{{listDetailsService.systemLanguage | async | systemLanguages:routeId:'module_title'}}</h1>
    </ion-text>

    <div class="cards-default-layout">
      <ion-card>
        <ion-list *ngFor="let content of (contentList | async)">
          <ion-item *ngIf="content?.title" routerDirection='forward' (click)="openDetail(content)">
            <ion-label color="primary">{{content?.title}}</ion-label>
            <span class="title-icon">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </span>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>

  </ion-content>
</ng-template>