.page-title {
    font-size: 1.7em;
    font-weight: 700;
    margin: 0;
}

ion-title {
    text-align: center;
    font-size: 25px;
}



.content {
    // --ion-background-color: #f7f4f8;
}

.content h1 {
    font-size: 31px;
    padding-left: 8%;
}

.cards {
    padding: 1% 8%;
}

ion-card-title {
    font-size: 1.3em;
}

ion-img.logo {
    width: 20%;
    display: inline-block;
}

span.title {
    display: inline-block;
    margin-left: 10%;
    font-size: 1.2em;
    width: 70%;
}

.entrepreneur {
    border-radius: 50%;
    overflow: hidden;
    margin: 1em 0;
}

h4.content-heading {
    color: #2323f8;
    font-size: 21px;
    font-weight: 700;
    position: relative;
}

h4.content-heading:after {
    position: absolute;
    content: '';
    right: 0;
    top: 56%;
    height: 1px;
    background-color: #000;
    left: 50%;
}

h6.company-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0.7em 0 0.2em;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: #f00;
    font-weight: 700;
    margin: 0.3em 0;
}

.text-center {
    text-align: center;
}

.resume {
    margin: 0.5em 0;
}

.resume a {
    text-decoration: none;
    font-weight: 700;
}

.company-image {
    margin: 1em 0;
}

ion-card-subtitle {
    margin-bottom: 1em;
}

.cat-link {
    text-align: center;
    width: 100%;

    a {
        text-decoration: none;
    }
}