<app-header showButton='back' [routeInfo]='routeInfo'></app-header>


<ion-content class="content">

  <ion-text color="primary">
    <h1>{{categoryDetailService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_title'}}
    </h1>
  </ion-text>


  <div class="cards">
    <ion-card *ngFor="let content of (contentObject.items)">
      <ion-card-header>
        <div class="card-header-wrap">
          <div class="card-header">
            <h2 class="page-title" color="primary">{{content?.text}}</h2>
            <!-- <ion-card-subtitle>{{content?.date}}</ion-card-subtitle> -->
          </div>

        </div>

        <ion-card-title color="primary" *ngIf="content?.description">
          {{categoryDetailService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_desc'}}
        </ion-card-title>
        <ion-card-subtitle [innerHTML]='content?.description'></ion-card-subtitle>

        <ion-card-title color="primary" *ngIf="content?.entrepreneur">
          {{categoryDetailService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_entrepreneur'}}
        </ion-card-title>
        <ion-card-subtitle>{{content?.entrepreneur}}</ion-card-subtitle>

        <ion-card-title color="primary" *ngIf="content?.extertise">
          {{categoryDetailService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_expertise'}}
        </ion-card-title>
        <ion-card-subtitle [innerHTML]="content?.extertise"></ion-card-subtitle>

        <ion-card-title color="primary" *ngIf="content?.cv">
          {{categoryDetailService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_cv'}}
        </ion-card-title>
        <ion-card-subtitle class="cat-link">
          <a *ngIf="content?.cv"
            href={{content?.cv}}>{{categoryDetailService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_open_link'}}</a>
        </ion-card-subtitle>

        <ion-card-title color="primary" *ngIf="content?.event">
          {{categoryDetailService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_event'}}
        </ion-card-title>
        <ion-card-subtitle>{{content?.event}}</ion-card-subtitle>

        <ion-card-title color="primary" *ngIf="content?.date">
          {{categoryDetailService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_date'}}
        </ion-card-title>
        <ion-card-subtitle [innerHTML]="content?.date"></ion-card-subtitle>

        <ion-card-title color="primary" *ngIf="content?.location">
          {{categoryDetailService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_location'}}
        </ion-card-title>
        <ion-card-subtitle [innerHTML]="content?.location"></ion-card-subtitle>

        <ion-card-title color="primary" *ngIf="content?.url">
          {{categoryDetailService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_url'}}
        </ion-card-title>
        <ion-card-subtitle class="cat-link">
          <a *ngIf="content?.url"
            href={{content?.url}}>{{categoryDetailService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_open_link'}}</a>
        </ion-card-subtitle>

        <ion-card-title color="primary" *ngIf="content?.participants">
          {{categoryDetailService.systemLanguage | async | systemLanguages:contentObject?.routeId:'module_item_participants'}}
        </ion-card-title>
        <ion-card-subtitle [innerHTML]="content?.participants"></ion-card-subtitle>
      </ion-card-header>
      <!-- <ion-card-content [innerHTML]="content?.description">
      </ion-card-content> -->
    </ion-card>
  </div>
</ion-content>