// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  // --ion-color-primary: #3880ff;
  // --ion-color-primary-rgb: 56, 128, 255;
  // --ion-color-primary-contrast: #ffffff;
  // --ion-color-primary-contrast-rgb: 255, 255, 255;
  // --ion-color-primary-shade: #3171e0;
  // --ion-color-primary-tint: #4c8dff;

  --ion-color-primary: #053067;
  --ion-color-primary-rgb: 5, 48, 103;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #042a5b;
  --ion-color-primary-tint: #1e4576;

  /** secondary **/
  --ion-color-secondary: #ce428b;
  --ion-color-secondary-rgb: 206, 66, 139;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #b53a7a;
  --ion-color-secondary-tint: #d35597;

  /** tertiary **/
  --ion-color-tertiary: #000000;
  --ion-color-tertiary-rgb: 0, 0, 0;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #000000;
  --ion-color-tertiary-tint: #1a1a1a;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  // Custom Heading Color
  --ion-color-heading: #053067;
  --ion-color-heading-rgb: 5, 48, 103;
  --ion-color-heading-contrast: #ffffff;
  --ion-color-heading-contrast-rgb: 255, 255, 255;
  --ion-color-heading-shade: #042a5b;
  --ion-color-heading-tint: #1e4576;

  --ion-background-color: #f7f4f8;

  --view-link: #ce428b;

  // --ion-background-color: #323236;
  // --ion-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
  // 'Roboto', sans-serif;

}


// A custom Color
.ion-color-heading {
  --ion-color-base: var(--ion-color-heading);
  --ion-color-base-rgb: var(--ion-color-heading-rgb);
  --ion-color-contrast: var(--ion-color-heading-contrast);
  --ion-color-contrast-rgb: var(--ion-color-heading-contrast-rgb);
  --ion-color-shade: var(--ion-color-heading-shade);
  --ion-color-tint: var(--ion-color-heading-tint);
}