<app-header showButton="menu"></app-header>

<ion-content>
  <ion-item lines="none">
    <ion-textarea rows="20" name="feedback" ngDefaultControl [(ngModel)]="feedback"
      placeholder="Tell us anything we can do to help make your experience better."></ion-textarea>
  </ion-item>
  <div class="submit-btn">
    <ion-button (click)="submitFeedback()" expand="block" color="primary" [disabled]="!feedback">
      Submit
    </ion-button>
  </div>
</ion-content>