<ion-menu content-id="main-content" menu-id="sideMenu">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <!-- Menu Header -->
        <ion-img class="title-image" src="../../../assets/title_image.png"></ion-img>
      </ion-title>
      <!-- <span>Logged in as</span>
      <p> {{(menu?.menuTitle)}}</p> -->
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list id="inbox-list">
      <ion-menu-toggle auto-hide="false" *ngFor="let p of (menu?.appPages | async); let i = index">
        <ion-item *ngIf="isMenuAvailable(p)" (click)="navigateToModule(p, i)" routerDirection="root" detail="false"
          [class.active]="menu?.selectedIndex == i">
          <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <ion-button *ngIf="isLoginOnStart" (click)="logout()" expand="block" fill="clear" shape="round">
      logout
    </ion-button>
    <div class="app-version">
      <span>{{appVersion}}</span>
    </div>
  </ion-content>
</ion-menu>