ion-menu {
    --ion-background-color: #f7f4f8;
    // --ion-text-color: #f7f4f8;

    ion-toolbar {
        --background: #f7f4f8;
    }

    ion-list {
        /* optional, but it needs when you use gradient as a background color.*/
        background: transparent;
    }
}

ion-toolbar,
ion-header {
    // --min-height: 90px;
    --min-height: 50px;

}

// ion-title {
//     text-align: center;
//     padding: 0;
//     margin: 0;

.title-image {
    width: 50%;
    margin: auto;
}

// }

// ion-title span {
//     font-size: 0.8em;
// }

// ion-title p {
//     margin: 0;
// }

.active {
    --ion-text-color: var(--ion-color-primary);
}

.app-version {
    text-align: center;
}