<app-header showButton='menu'></app-header>

<ion-content class="content">
  <ion-text color="primary">
    <h1>{{categoryDetailService.systemLanguage | async | systemLanguages:routeId:'module_title'}}</h1>
  </ion-text>

  <div class="cards">
    <ion-card>
      <ion-list *ngFor="let content of (contentList | async)">
        <ion-item *ngIf="content?.title" routerDirection='forward' (click)="openDetail(content)">
          <ion-label color="primary">{{content?.title}}</ion-label>
          <span class="title-icon">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </span>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>