<app-header showButton='menu'></app-header>

<ion-content class="content">
  <ion-text color="primary">
    <h1>{{listDetailLogosService.systemLanguage | async | systemLanguages:routeId:'module_title'}}</h1>

  </ion-text>


  <div class="cards">

    <ion-card *ngFor="let content of (contentList | async)" routerDirection='forward' (click)="openItemDetail(content)">
      <ion-card-header>
        <ion-card-subtitle color="primary">
          <ion-img class="logo" *ngIf="content?.logo?.data?.full_url" [src]="content?.logo?.data?.full_url"></ion-img>
          <span class="title">
            {{content?.title}}
          </span>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>