.content {
    // --ion-background-color: #f7f4f8;
}

.content h1 {
    font-size: 31px;
    padding-left: 8%;
}

.cards {
    padding: 1% 8%;
}

ion-card-title {
    font-size: 1.3em;
}

ion-card {
    margin-left: 0;
    margin-right: 0;
    background: #fff;
}

ion-img.logo {
    width: 15%;
    display: inline-block;
}

ion-card-subtitle {
    display: flex;
    align-items: center;
}

span.title {
    display: inline-block;
    margin-left: 10%;
    font-size: 1.2em;
    width: 75%;
}