<app-header showButton='menu'></app-header>

<ion-content class="content">

  <ion-text color="primary">
    <h1>{{simpleListService.systemLanguage | async | systemLanguages:routeId:'module_title'}}</h1>
  </ion-text>

  <div class="cards">
    <ion-card *ngFor="let content of (contentList | async)">
      <ion-card-header>

        <div class="card-header-wrap">
          <div class="card-header">
            <ion-card-title color="primary">{{content?.title}}</ion-card-title>
            <ion-card-subtitle>{{content?.date | date:mediumDate}}</ion-card-subtitle>
          </div>
          <div class="card-view-details" *ngIf="content?.link">
            <a
              [href]="content?.link">{{simpleListService.systemLanguage | async | systemLanguages:routeId:'module_view'}}</a>
          </div>
        </div>

        <ion-card-title color="primary" *ngIf="content?.role">
          {{simpleListService.systemLanguage | async | systemLanguages:routeId:'module_role'}}</ion-card-title>
        <ion-card-subtitle>{{content?.role}}</ion-card-subtitle>

        <ion-card-title color="primary" *ngIf="content?.participant">
          {{simpleListService.systemLanguage | async | systemLanguages:routeId:'module_participant'}}</ion-card-title>
        <ion-card-subtitle>{{content?.participant}}</ion-card-subtitle>

      </ion-card-header>
    </ion-card>
  </div>
</ion-content>