.content {
    // --ion-background-color: #f7f4f8;
}

.content h1 {
    font-size: 31px;
    padding-left: 8%;
}

.cards {
    padding: 1% 8%;
}

ion-card {
    margin-left: 0;
    margin-right: 0;
}

ion-card-title {
    font-size: 1.3em;
    margin-bottom: 0.3em;
}

ion-card-subtitle {
    margin-bottom: 1em;
}

.card-header-wrap {
    display: flex;
}


.card-view-details {
    margin-left: 5%;
    text-align: right;
}

.card-view-details a {
    text-decoration: none;
    font-size: 1.2em;
    color: var(--view-link);

}