<app-header isLoginPage='true'></app-header>

<ion-content class="content">

  <ion-text color="heading">
    <h1 id="login-heading">{{systemLanguage | async | systemLanguages:routeId:'module_title'}}</h1>

  </ion-text>


  <div class="login-form">

    <form [formGroup]="myForm">

      <ion-item class="login-input">
        <ion-label position="floating">{{systemLanguage | async | systemLanguages:routeId:'module_input_email'}}
        </ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>

      <div class="login-error" *ngIf="myForm.get('email').hasError('required') && myForm.get('email').touched">
        User email is required!
      </div>

      <ion-item class="login-input">
        <ion-label position="floating">{{systemLanguage | async | systemLanguages:routeId:'module_input_password'}}
        </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <div class="login-error" *ngIf="myForm.get('password').hasError('required') && myForm.get('password').touched">
        Password is required!
      </div>

      <div class="login-error">
        {{loginError}}
      </div>

      <ion-button expand="block" fill="outline" color="primary" id="login-button"
        (click)="loginUser(myForm.value.email, myForm.value.password)" [disabled]=" myForm.invalid">
        {{systemLanguage | async | systemLanguages:routeId:'module_button_login'}}
      </ion-button>
    </form>
  </div>

</ion-content>