.title-image {
  width: 50%;
  margin: auto;
}


.content {
  // --ion-background-color: #f7f4f8;
}

#login-heading {
  padding-top: 7%;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.login-form {
  padding: 2% 12%;
}

.login-input {
  padding: 4% 20px 4% 0;
}

.login-error {
  font-size: small;
  color: #ff0000;
  padding: 3% 8%;
}

#login-button {
  width: calc(100% - 40px);
  margin-left: 20px;
}